<section class="engine"></section>
<section class="mbr-box mbr-section mbr-section--relative mbr-section--fixed-size mbr-section--full-height mbr-section--bg-adapted mbr-parallax-background" id="header1-2" style="background-image: url(assets/images/proyecto-1-2000x1250.jpg);">
  <div class="mbr-box__magnet mbr-box__magnet--center-center mbr-after-navbar">
    <h1> Edit profile </h1>
    <a [routerLink]="['/profile']"> Back to profile </a>

    <form>
      <fieldset>
        <legend> Profile info </legend>

        <label> Change Photo Profile</label>
        <input type="file" name="file" ng2FileSelect  [uploader]="uploader" />
        <button (click)="addImage()"> Add image </button>



        <label> Name </label>
        <input type="text"  [(ngModel)]="newUser.name" name="name" required />

        <label> Last Name </label>
        <input type="text"  [(ngModel)]="newUser.lastName" name="lastName" required />

        <label> age </label>
        <input type="number"  [(ngModel)]="newUser.age" name="age" required />

        <label> height </label>
        <input type="number"  [(ngModel)]="newUser.height" name="height" required />

        <label> weigth </label>
        <input type="number"  [(ngModel)]="newUser.weigth" name="weigth" required />

        <label> mass_muscle </label>
        <input type="number"  [(ngModel)]="newUser.mass_muscle" name="mass_muscle" required />

        <label> mass_water </label>
        <input type="number"  [(ngModel)]="newUser.mass_water" name="mass_water" required />

        <label> mass_bone </label>
        <input type="number"  [(ngModel)]="newUser.mass_bone" name="mass_bone" required />

        <label> mass_fat </label>
        <input type="number"  [(ngModel)]="newUser.mass_fat" name="mass_fat" required />






        <!-- <input type="text" #spec />
        <button (click)="addSpec(spec.value); spec.value = ''"> add </button>

        <ul>
          <li *ngFor="let spec of newPhone.specs"> {{ spec }} </li>
        </ul>
        <small *ngIf="!newPhone.specs.length"> This phone has no specs :( </small> -->



      </fieldset>
      <button (click)="submit()"> submit </button>
    </form>
  </div>
</section>
